{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "trailingComma": "all"
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
